
.grid-example {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
  gap: 10px;
}

.grid-example .item {
  background-color: lightblue;
  color: gray;
  padding: 20px;
  text-align: center;
}
/* ===================== */
.grid-example-implicit {
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-rows: 100px;
  gap: 10px;
}

.grid-example-implicit .item {
  background-color: lightgreen;
  color: white;
  padding: 20px;
  text-align: center;
}
/* =========================== */
.grid-example-align {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.grid-example-align .item {
  background-color: lightsalmon;
  color: white;
  padding: 20px;
  text-align: center;
}
/* ============================== */
.grid-example-properties {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.grid-example-properties .item {
  background-color: lightyellow;
  color: black;
  padding: 20px;
  text-align: center;
}
